<script id="some-template" type="text/x-handlebars-template">
    <tr id="org-{{Status}}">

        <td>{{Status}}</td>
        <td>{{Count}}</td>
        <td>{{AverageDuration}}</td>
    </tr>
</script>