

<div class="panel panel-default">
    <div class="panel-heading">Simulating Users Viewing PFM Dashboard</div>
    <div class="panel-body">


        <div class="container">
            <div class="row">
                <div class="btn-group btn-group-lg" role="group" aria-label="Simulates PFM user views">
                    <button id="usrBtnStartView" type="button" class="btn btn-default">Start</button>
                    <button id="usrBtnStopView" type="button" class="btn btn-default">Stop</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table id="statusTable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Count</th>
                                    <th>AverageDuration</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="chartContainer" style="height: 300px; width:100%;">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script id="some-template" type="text/x-handlebars-template">
    <tr id="org-{{Status}}">

        <td>{{Status}}</td>
        <td>{{Count}}</td>
        <td>{{AverageDuration}}</td>
    </tr>
</script>