@model HttpLoadTester.ViewModels.HomeIndexViewModel

<div class="panel panel-default">
    @foreach (var test in Model.Tests)
    {
        @Html.DisplayFor(m => test, "ITestDescriptors")

    }
    

</div>


@Html.Partial("_ResultTableTemplate")