@model HttpLoadTester.Services.ITestDescriptors

<div class="panel-heading">@Model.DisplayText</div>
<div id ="@string.Format("testContainer{0}",Model.Name)" data-testname="@Model.Name" class="panel-body testContainer">


    <div class="container">
        <div class="row">
            <div class="btn-group btn-group-lg" role="group" aria-label="Simulates PFM user views">
                <button type="button" class="btn btn-default sendStartToHub">Start</button>
                <button type="button" class="btn btn-default sendStopToHub">Stop</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="table-responsive">
                    <table id="statusTable" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Count</th>
                                <th>AverageDuration</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <canvas class="chartContainer"></canvas>

            </div>
            <div class="col-md-4">
                <canvas class="chartDurationContainer"></canvas>
            </div>
        </div>
    </div>
</div>
